html, body {
  height: 100%;
}

.community-container {
  min-height: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fffbea; /* change background color to light yellow */
}

.community-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 30px;
}

.community-title {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  color: #83c5be; /* change title color to light green */
  margin-top: -150px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}

.community-icon {
  margin-right: 10px;
}

.community-posts,
.community-action-items {
  background-color: #D5E1DD; /* change background color to light blue */
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.community-posts form {
  display: flex;
  flex-direction: column;
}

.community-posts .btn-secondary {
  color: #fff;
  background-color: #006d77; /* change button color to dark green */
  border-color: #006d77;
  margin-right: 10px;
}

.community-posts .btn-primary {
  align-self: flex-end;
  margin-top: 10px;
  background-color: #006d77; /* change button color to dark green */
  border-color: #006d77;
}

.community-posts .btn-primary:hover {
  background-color: #034c4f; /* change button hover color to darker green */
  border-color: #034c4f;
}
.community-posts .title{
  color:#034c4f;
  font-size: large;
}
.community-action-items h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #006d77; /* change heading color to dark green */
}

.community-action-items ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.community-action-items li {
  margin-bottom: 10px;
}

.community-action-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.community-action-items .item-title {
  font-weight: bold;
  color: #006d77; /* change item title color to dark green */
}

.community-action-items .item-due-date {
  font-style: italic;
}

.community-action-items .item-due-date.passed {
  color: red;
}

.community-action-items .item-due-date.approaching {
  color: yellow;
}

@media only screen and (max-width: 767px) {
  .community-title {
    font-size: 2rem;
  }

  .community-posts,
  .community-action-items {
    padding: 10px;
  }
}
